<div ng-init="general= [{ 'meaning': 'English', 'countryFlag': 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/800px-Flag_of_the_United_States.svg.png', 'level': 'Native or Bilingual'},
{ 'meaning': 'Ukrainian', 'countryFlag': 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/800px-Flag_of_Ukraine.svg.png', 'level': 'Native or Bilingual'},
{ 'meaning': 'Russian', 'countryFlag': 'https://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/255px-Flag_of_Russia.svg.png', 'level': 'Fluent'},
{ 'meaning': 'Polish', 'countryFlag': 'https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/255px-Flag_of_Poland.svg.png', 'level': 'Conversational'},
];
"></div>

<div class="l-style-guide s-text">

        <div class="l-section">
                
                <div class="cols cols1-1">
                    <div class="col">
                            <img src="https://scontent.fiev12-1.fna.fbcdn.net/v/t1.0-9/40395548_276101019881052_5681913511207239680_n.jpg?_nc_cat=105&_nc_ht=scontent.fiev12-1.fna&oh=6f6768d6d960348f660d0547fde09f71&oe=5D3BB431">
                    </div>
                    <div class="col">
                        <p>Angular 5 6 7</p>
                        <p>PrimeNG Expert</p>
                        <p>Ionic 3 4</p>   
                        <p>MEAN Stack</p>
                        <p>TypeScript</p>   
                        <p>REST</p>   
                    </div>
                </div>
        </div>
        
        <br />
        <h1>Learning / Certifications</h1>
    
        <div class="l-section">
            <!-- This content maintained at https://docs.google.com/spreadsheets/d/1AzhUY0P3hLCfT8yPa2Cb1dwOOsQXBuSgCrOkhIoVm0A/edit#gid=0 -->
            <table>
                <tr class='header'><td>Tecnhology</td><td>Description</td><td>Link</td></tr>
                <tr><td>MongoDb Security official courses</td><td>Final Score: 94%</td><td><a href="http://university.mongodb.com/course_completion/a2280498-c53a-4206-b33c-be717d4f" target="_blank">Click me</a></td></tr>
                <tr><td>MongoDB Official courses for Node.js Developers</td><td>Final Score: 98%.</td><td><a href="http://university.mongodb.com/course_completion/b3381a3c-b78d-49ec-9bba-71bb273b" target="_blank">Click me</a></td></tr>
                <tr><td>Hybris SAP Certified Development Professional - SAP Commerce Cloud 6.7 Developer</td><td>Final Score: 88%</td><td><a href="https://www.youracclaim.com/badges/6e47e145-9245-4b9d-8751-f6e96dd66a3e" target="_blank">Click me</a></td></tr>
            </table>
        </div>
</div>

<div class="l-style-guide">
    <br />
    <h2>Languages:</h2>
    <div class="l-section">
        <div class="items-holder grid">
            <div class="item glyph-item" ng-repeat="language in general">
                <table class="details">
                    <tr><td class="label">Language</td><td class="value">{{language.meaning}}</td></tr>
                    <tr><td class="label">Country</td><td class="value"><img src="{{language.countryFlag}}"  height="42" width="42"></td></tr>
                    <tr><td class="label">Level</td><td class="value">{{language.level}}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="l-style-guide s-text">
    <br />
    <h1>Employment history</h1>
    <div class="l-section">
    <p>8 years of OOP and OOD experience / Master Degree </p>
    <p>First Position in 2008</p>
    </div>

    <div class="l-section">
            <h2>Upwork</h2>
            <div class="cols cols1-1">
                <div class="col">
                    <p>
                        Link to: <a href="https://www.upwork.com/fl/alexanderromanyak2"> My Upwork experience </a>
                        
                    </p>
                </div>
                <div class="col">
                    <p>May 2017 - Today</p>
                    <p>Freelancer</p>   
                </div>
            </div>
    </div>

    <div class="l-section">
            <h2>Start up / freelancer part time / Studied a lot</h2>
            <div class="cols cols1-1">
                <div class="col">
                    <p>I have planned my own start-ups, that is why I do know what is going on behind the scene.  </p>
                     <p>Why time to market is very important. I suggest a lot of improvements especially in processes, I as usual re-arrange the processes.</p>   
                     <p> When I notice that people are wasting money/time etc, I suggest how to change processes, how to do things differently (due to my start-up experience).</p>
                    </p>
                </div>
                <div class="col">
                    <p>September 2012 - September 2017</p>
                    <p>Startuper / Entrepreneur</p>   
                </div>
            </div>
    </div>

    <div class="l-section">
        <h2>W2MO Full environment for logistics. Bin packing sub project. | Logivations</h2>
        <div class="cols cols1-1">
            <div class="col">
                <p>Development and optimizing bin (case) packing algorithm for using in production. </p>
                <p>Additional optimization algorithm was developed on top of basic algorithm, but now it was carton optimization, not packing optimization.  </p>
                <p>I have to analyze market solutions of bin packing algorithm, try different parameters, and so on… then make an assumption about how it is working, create requirements, description and then try to develop or help to develop it.</p>
                <p>Besides my main responsibilities, I write sql stored procedures for the purpose of my tasks, create form on the UI with the help of java script (JQuery and sigma grid), support and take part in the development of order’s processing algorithms, transport processing algorithm,….</p>
            </div>
            <div class="col">
                <p>March 2011 - September 2012</p>
                <p>Algorithm Engineer / Team Lead</p>
                <img src="https://www.logivations.com/img_general/new-images/solutions/order_fulfillment/img11.jpg" />    
            </div>
        </div>
    </div>

    <div class="l-section">
        <h2>Modeling of steady heat conduction in termal parallelepiped. | National Polytechnics University Lviv</h2>
        <div class="cols cols1-1">
            <div class="col">
                <p>Views are simply different ways to view the content of a given object. </p>
                <p>For example, telemetry data could be viewed as a plot or a table. </p>
                <p>A clock can display its time in analog fashion or with digital numbers. In each view, all of the content is present; it’s just represented differently. </p>
                <p>When providing views for an object, all the content of the object should be present in each view. </p>
            </div>
            <div class="col">
                <p>September 2010 - January 2011</p>
                <p>Architect / Senior Software Engineer</p>
            </div>
        </div>
    </div>

    <div class="l-section">
        <h2>Task Tracking System | Military academy named after Hetman Petro Sahaydachnyi</h2>
        <div class="cols cols1-1">
            <div class="col">
            <p>Project was devoted for supporting the internal academy processes.</p>
            <p> My responsibility was to gather requirements, design system, implement requirements and so on.</p>
            <p> During this project I combined architecture and senior developer roles. </p>
            </div>
            <div class="col">
                <p>September 2009 - September 2010</p>
                <p>Architect / Senior Software Engineer</p>
            </div>
        </div>
    </div>


    <div class="l-section">
        <h2>Sql Engineer | Comarch</h2>
        <div class="cols cols1-1">
            <div class="col">
            <p>I had changed Oracle units for mobile operators. I had examined the db tables which respond for the tariffs, clients and other benefits for clients and so on.</p> 
            <p>Then I had changed the procedures in the appropriate units and/or had created my own view tables. After all I had tested my work and had sent it to the customers.</p>
            </div>
            <div class="col">
                <p>September 2008 - February 2009</p>
                <p>SQL Engineer</p>
            </div>
        </div>
    </div>



    <p></p>
    <p></p>
    <p></p>
</div>